:root {
    font-family: "Montserrat";
    font-style: normal;
    color: #ffffff;
  }
  
.container{
    width: 700px;
    margin: 0 auto;   
}

.blog-button-delete {
    font-size: 20px;
    font-weight: 600;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #676464;
    margin-top:10px;
}

.blog-button-delete:focus {
    background-color: #cbbfbf;
}

.card-wrapper {
    padding: 1rem;
    border: 2px solid black;
    border-radius: 20px;
    margin: 1rem;
    background-color: #676464;
}

.user-name{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 1rem;
}

.user-title{
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    line-height: 2;
}

.user-email{
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
}